<!DOCTYPE html>
<html>
<head>
<title>login</title>

<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.1/firebase-storage.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
        $('h1').bind("mouseover", function(){
            var color  = $(this).css("color");

            $(this).css("color", "#df2020");

            $(this).bind("mouseout", function(){
                $(this).css("color","#000000");
            })
        })
    })

    $(document).ready(function() {
            $('a').bind("mouseover", function(){
                var color  = $(this).css("color");

                $(this).css("color", "#df2020");
                $(this).css("background","#00ffff");

                $(this).bind("mouseout", function(){
                    $(this).css("color","#000000");
                      $(this).css("background"," #f2f2f2");
                })
            })
        })
</script>
<style>
#b1{
  background-color: #0303fc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
 display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#b2{
  background-color: #03dbfc;
  border: 1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float:center;
}
#user_para{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
</style>


</head>
<body>
<div class="container">
  <div class="jumbotron">
  <h1 style="text-align:center">{{title}}</h1>
  <div class ='container'>
  </div>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/">Signup</a></li>


      </ul>
    </div>
</nav>

  <h2 class="page-header">{{title1}}</h2>
<div id="login_div" class="main-div">
        <form class="form-horizontal" name="form " id="form" action="/l" method='get'>
          <div class="form-group">
              <label class="control-label col-sm-2" for="name">Email:</label>
            <div class="col-sm-3">
              <input class="form-control" type="email" name="email" id="email" placeholder="enter your E-Mail " required /><br>
            </div>
          </div>

          <div class="form-group">
              <label class="control-label col-sm-2" for="name">Password:</label>
            <div class="col-sm-3">
              <input class="form-control" type="password" name="password" id="password" placeholder="Enter the Password " required/><br>
          </div>
        </div>

        <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
                <input type="button" class="btn btn-default" onclick="login()" id="b1" name="submit" value="LogIn" /><br><br>
    </div></div>
                </form>
</div>

<div id = "user_div" class="loggedin-div">
  <p id="user_para"> welcome user. You are currently loggedin</p>
  <input type="button" class="btn btn-default" onclick="logout()" id="b2" name="submit" value="LogOut" /><br><br>
</div>


      <br>
          <div class="container">
            <div class="panel panel-default">
            <div class="panel-footer">Panel Footer</div>
    
            </div>
          </div>

<script>
            const firebaseConfig = {
              apiKey: "AIzaSyDSh-XejuBTOOwkH9rtpwTeKVtYQ6Lg1_4",
              authDomain: "mern-5e2ac.firebaseapp.com",
              databaseURL: "https://mern-5e2ac.firebaseio.com",
              projectId: "mern-5e2ac",
              storageBucket: "mern-5e2ac.appspot.com",
              messagingSenderId: "659546614777",
              appId: "1:659546614777:web:2bcc5f9b286efda46eeb28",
              measurementId: "G-3CJFXF0Z1C"
            };

          firebase.initializeApp(firebaseConfig);

firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
              // User is signed .
              document.getElementById("user_div").style.display="block";
              document.getElementById("login_div").style.display="none";
              var email=user.email;
              document.getElementById("user_para").innerHTML="Welcome user:  "+email;

              }
            else {
              // No user is signed in.
              document.getElementById("user_div").style.display="none";
              document.getElementById("login_div").style.display="block";

            }
    });
logout();
    function logout(){
      firebase.auth().signOut().then(function() {
  // Sign-out successful.
}).catch(function(error) {
  // An error happened.
});
    };

function login(){

  var email=document.getElementById("email").value;
  var password=document.getElementById("password").value;
  firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {

            var errorCode = error.code;
            var errorMessage = error.message;
            window.alert(error) });

  }




</script>
</body>
</html>
